<footer class="post-footer clearfix">
  {{ if .Params.tags }}
  <p class="post-tags">
    <span>Tagged:</span> {{ range .Params.tags }}
    <a href="/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}
    <div class="sharing">
      {{ partial "share.html" . }}
    </div>
  </p>
  {{ end}}
</footer>
<div class="post-meta clearfix">
  <a href="/page/about/"><img class="avatar" src="{{ .Site.BaseURL }}images/avatar.png"></a>
  <div>
    <span class="dark"><a href="/page/about/"><strong>{{ .Site.Params.name }}</strong></a></span>
    <span><a href="/page/about/">{{ .Site.Params.aboutAuthor }}</a></span>
  </div>
</div>
