<footer class="post-footer clearfix">
  {{ if .Params.tags }}
  <p class="post-tags">
    <span>Tagged:</span> {{ range .Params.tags }}
    <a href="/tags/{{ . | urlize }}/">{{ . }}</a> {{ end }}
    <div class="sharing">
      {{ partial "share.html" . }}
    </div>
  </p>
  {{ end}}
</footer>
<div class="post-meta clearfix">
  <img class="avatar" src="{{ .Site.BaseURL }}images/avatar.png">
  <div>
    <span class="dark">{{ .Site.Params.name }}</span>
    <span>{{ .Site.Params.aboutAuthor }}</span>
  </div>
</div>
